<%= render 'shared/title', title: @chef.chefname %>
<div class="row">
	<div class="col-md-4 pull-right center">
		<%= link_to gravatar_for(@chef, size: 200) , chef_path(@chef) %>
		<p>
			<h5>
			<%= @chef.chefname %>
			</h5>
		</p>
	</div>
	<div class="col-md-8">
		<%= link_to("Edit", edit_chef_path(@chef), class: "btn btn-success pull-right") if logged_in? && @chef.id == current_user.id %>
		<h3>
			<%= @chef.email %>
		</h3>
	</div>
</div>
<%= render 'shared/indexRecipes', recipes: @chef.recipes.paginate(page: params[:page], per_page: 10) %>
<h5>
	<%= link_to "Back to Chefs", chefs_path, class: "btn btn-warning btn-small"  %>
</h5>